{% extends 'base.html' %}

{% block content %}

<div class="card">

<h2>Edit Tenant 🌸</h2>

<form method="POST">

<input 
type="text"
name="name"
value="{{ tenant.name }}"
placeholder="Name">

<input
type="text"
name="phone"
value="{{ tenant.phone }}"
placeholder="Phone">

<input
type="text"
name="address"
value="{{ tenant.address }}"
placeholder="Address">

<input
type="text"
name="emergency_contact"
value="{{ tenant.emergency_contact }}"
placeholder="Emergency Contact">

<button type="submit">
    Update
</button>

</form>

</div>

{% endblock %}